/* Carambola Website CSS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Remove default padding */
* {
	margin: 0;
	padding: 0;
	--main-colour: #0667a8;
	--font-face: "Rubik", sans-serif;
}

h1, h2, h3, h4, p, li, summary {
	font-family: var(--font-face);
	margin-top: 0.15em;
	margin-bottom: 0.5em;
}

h1 { font-size: 42pt; color: var(--main-colour); text-align: center; margin: 0.75em; }
h2 { font-size: 28pt; color: var(--main-colour); text-align: center; }
h3, summary { font-size: 20pt; font-weight: 400; border-bottom: 1px solid #8884; padding-top: 0.8em; padding-bottom: 0.2em; }
h4 { font-size: 18pt; }
p, ul { font-size: 14pt; margin-bottom: 0.75em; }
ul { margin-left: 1em; }
.cb-quote { font-size: 20pt; line-height: 1.5; }

code {
	background: #8883;
}

.feature {
	font-size: 19pt;
	text-align: center;
	padding-bottom: 0.75em;
}

.billboard {
	border-radius: 0.425em;
	box-shadow: 0 0.2em 0.4em #0000003f;
}

a {
	color: var(--main-colour);
	text-decoration-line: none;
	transition: color 0.3s;
}

a.insecure-link::after {
	content: url("./lock_open.svg");
}

@media (prefers-color-scheme: dark) {
	@import url('./smashhitfont.css');
	
	h1 {
		font-family: "Smash Hit", sans-serif;
	}
	
	h1, h2, a {
		color: #e0e0e0;
	}
}

::selection {
	background: var(--main-colour);
	color: #fff;
}

body {
	background-image: url("./background.png");
	background-size: cover;
	background-attachment: fixed;
	color: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
	body {
/* 		background-image: url("./background-dark.png");\ */
		background-image: none;
		background: #000;
	}
}

.main-section {
	border: none;
	box-shadow: 0 0.0em 1.2em #0007;
	background: #fff;
	color: #1e1e1e;
	max-width: 75em;
	margin: auto;
	padding: 1em;
	border-radius: 0.25em;
}

@media (prefers-color-scheme: dark) {
	.main-section {
		background: #000;
		color: #f8f8f8;
	}
	
	.main-section a {
		color: var(--main-colour);
	}
}

/* Warning */
.warning-main {
	background: #0088ff20;
	border-radius: 0.325em;
	overflow: auto;
	padding: 0.625em;
}

.tip-main {
	background: #00ff8020;
	border-radius: 0.325em;
	overflow: auto;
	padding: 0.625em;
}

.warning-left {
	float: left;
	width: 32px;
}

.warning-right {
	float: right;
	width: calc(100% - 32px - 1em);
	padding-left: 1em;
}

/* NEW token */
.new-token {
	background: #ff557f;
	border-radius: 10000em;
	color: #fff;
	padding: 0 0.35em;
}

.navbar-section {
	-webkit-backdrop-filter: blur(1.25em);
	backdrop-filter: blur(1.25em);
	background: #eaeaeaa0;
	border: none;
	box-shadow: 0 0.2em 0.4em #0000003f;
	padding: 1em;
	position: fixed;
	width: 100%;
}

.post-navbar-padding {
	padding-top: 1em;
}

.bottom-section {
	background: #8883;
	border-radius: 0.325em;
	padding: 0.5em;
}

@media (prefers-color-scheme: dark) {
	.navbar-section {
		background: #222a;
		color: #fff;
	}
}

.cb-top-item {
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-face);
}

.cb-logo-item {
	margin-right: 2em;
	font-size: 18pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-face);
}

.nc-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nc-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.top-section {
	border-top: none;
	border-radius: 0 0 0.325em 0.325em;
	margin-top: 0;
	vertical-align: middle;
	max-width: 50em;
}

.top-item {
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
}

/* This assumes that common.css has already been linked. */

.carambola-big {
	font-size: 24pt;
	font-weight: 700;
}

.carambola-download p {
	margin: 0;
}

.carambola-download {
	float: right;
	max-width: 20em;
	padding: 0.75em;
}

.carambola-download-box {
	padding: 1em;
	border-radius: 0.325em;
	background: var(--main-colour);
	box-shadow: 0 0.2em 0.4em #0000003f;
	color: #fff;
	cursor: pointer;
	overflow: auto;
	margin-bottom: 0.75em;
	transition: background 0.3s;
	transition: box-shadow 0.3s;
}

.carambola-download-box:hover {
	background: #1c7fff;
	box-shadow: 0 0.3em 0.6em #0000002f;
}

.carambola-download-box:active {
	background: #1b53a6;
	box-shadow: 0 0 0 #00000080;
}

.carambola-download-left {
	float: left;
	width: 50px;
}

.carambola-download-right {
	float: right;
	width: calc(100% - 50px - 0.4em);
	padding-left: 0.4em;
}

.small-text {
	font-size: 10pt;
}
