/* Carambola Website CSS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

/* Remove default padding */
* {
	margin: 0;
	padding: 0;
	--main-colour: #0AFDEA;
	--main-colour-bg: #002624;
	--main-colour-bg-dark: #001917;
	--font-face: "Titillium Web", sans-serif;
}

h1, h2, h3, h4, p, li, summary {
	font-family: var(--font-face);
	margin-top: 0.15em;
	margin-bottom: 0.5em;
}

h1 { font-size: 42pt; color: var(--main-colour); text-align: center; margin: 0.75em; }
h2 { font-size: 28pt; color: var(--main-colour); text-align: center; }
h3, summary { font-size: 20pt; font-weight: 400; border-bottom: 1px solid #0AFDEA40; padding-top: 0.8em; padding-bottom: 0.2em; }
h4 { font-size: 18pt; }
p, ul { font-size: 14pt; margin-bottom: 0.75em; }
ul { margin-left: 1em; }
.cb-quote { font-size: 20pt; line-height: 1.5; }

code {
	background: #8883;
}

.feature {
	font-size: 19pt;
	text-align: center;
	padding-bottom: 0.75em;
}

.billboard {
	border-radius: 0.5em;
/* 	box-shadow: 0 0.2em 0.4em #0000003f; */
}

a {
	color: var(--main-colour);
	text-decoration-line: none;
	transition: color 0.3s;
	font-weight: bold;
}

a:hover {
	color: #fff;
}

a.insecure-link::after {
	content: url("./lock_open.svg");
}

img {
	padding: 0;
}

::selection {
	background: var(--main-colour);
	color: #000;
}

body {
	background: var(--main-colour-bg);
	color: #fff;
}

.main-section {
	border: none;
	color: var(--main-colour);
	max-width: 75em;
	margin: auto;
	padding: 1em;
	border-radius: 0.5em;
}

/* Warning */
.warning-main {
	background: var(--main-colour-bg-dark);
	border-radius: 0.5em;
	overflow: auto;
	padding: 0.5em;
}

.tip-main {
	background: var(--main-colour-bg-dark);
	border-radius: 0.5em;
	overflow: auto;
	padding: 0.5em;
}

.warning-left {
	float: left;
	width: 32px;
}

.warning-right {
	float: right;
	width: calc(100% - 32px - 1em);
	padding-left: 1em;
}

/* NEW token */
.new-token {
	background: #0AFDEA;
	border-radius: 10000em;
	color: #000;
	padding: 0 0.35em;
}

.navbar-section {
/* 	-webkit-backdrop-filter: blur(1.25em); */
/* 	backdrop-filter: blur(1.25em); */
	background: var(--main-colour-bg-dark);
	border: none;
	padding: 1em;
	position: fixed;
	width: 100%;
}

.post-navbar-padding {
	padding-top: 1em;
}

.bottom-section {
	border: 1px solid var(--main-colour);
	border-radius: 0.5em;
	padding: 0.5em;
}

.cb-top-item {
	margin: 0;
	padding: 0;
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-face);
	max-height: 64px; /* Why did this fix it? */
}

.cb-logo-item {
	margin-right: 2em;
	font-size: 18pt;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--font-face);
	color: var(--main-colour);
}

.nc-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nc-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.top-section {
	border-top: none;
	border-radius: 0 0 0.5em 0.5em;
	margin-top: 0;
	vertical-align: middle;
	max-width: 50em;
}

.top-item {
	margin-right: 1.0em;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
}

/* This assumes that common.css has already been linked. */

.carambola-big {
	font-size: 24pt;
	font-weight: 700;
}

.carambola-download p {
	margin: 0;
}

.carambola-download {
	float: right;
	max-width: 20em;
	padding: 0.75em;
}

@keyframes glow {
	from {
		box-shadow: 0 0 2.5em var(--main-colour);
	}
	to {
		box-shadow: 0 0 3.25em var(--main-colour);
	}
}

.carambola-download-box {
	padding: 1em;
	border-radius: 0.5em;
	background: var(--main-colour);
	color: #000;
	cursor: pointer;
	overflow: auto;
	margin-bottom: 0.75em;
	transition: box-shadow 0.3s, background 0.3s;
}

.carambola-download-box:hover {
	background: #fff;
	animation-name: glow;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.carambola-download-box:active {
	background: #fff;
	box-shadow: 0 0 0 #00000080;
}

.carambola-download-left {
	float: left;
	width: 50px;
}

.carambola-download-right {
	float: right;
	width: calc(100% - 50px - 0.4em);
	padding-left: 0.4em;
}

.small-text {
	font-size: 10pt;
}
